@tailwind base;
@tailwind components;
@tailwind utilities;
/* Poppins Thin */
/* In global.css */

    /* sebelumnya max-w-[340px]  bg-white/30 */
  .custom-dots {
    @apply flex justify-center max-w-[360px] rounded-full sm:mt-2 mt-3 mx-auto;
  }
  .custom-dots li {
    @apply inline-block;
  }
  .custom-dots li button {
    @apply bg-fuchsia-700 text-transparent w-4 h-4 rounded-full border-none focus:outline-none mx-2;
  }
  
  .custom-dots li.slick-active button {
    @apply bg-green-400;
  }
  
  .custom-dots li button:hover {
    @apply bg-red-500;
  }
  
  
  .custom-dots-mobile {
    @apply h-0;
  }
  .custom-dots-mobile li {
    @apply inline-block;
  }
  .custom-dots-mobile li button {
    @apply h-0;
  }
  
  .custom-dots-mobile li.slick-active button {
    @apply h-0;
  }
  
  .custom-dots-mobile li button:hover {
    @apply h-0;
  }
  
  /* margin untuk gambar */
  /* kalau bg putih, pakai border-white dan border-[5px] , namun krn skrg udh pakai bg image jadinya dihilangkan agar jangan ada margin putih2 */
  .slick-slide img {
    @apply px-[5px]  block mx-auto;
  }

  

  
  
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

/* Poppins ExtraLight */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* Poppins Regular */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* Poppins Medium */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* Poppins SemiBold */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Poppins ExtraBold */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* Poppins Black */
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}


body {
    font-family: "Poppins";
}

.vertical-timeline::before {
    background-color: #3b82f6 !important; /* Tailwind's blue-500 */
}

.flowbite-dropdown > button > svg {
    display: none;
  }